# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js Build and Output
/.next/
/out/

# Production Build
/build
dist/

# Debug and System Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
*.pem

# Local Environment Variables (CRITICAL: Do NOT push secrets to GitHub)
.env
.env*.local
.env.production

# Vercel deployment metadata
.vercel

# TypeScript / Editor settings
*.tsbuildinfo
next-env.d.ts
.idea/
.vscode/